/*Globale*/

    @font-face
    {
    font-family:'Raleway';
    src:  url(images/police/Raleway-VariableFont_wght.ttf) format("truetype"),
          url(images/police/Raleway-Italic-VariableFont_wght.ttf) format("truetype");       
    }

    body
    {
        font-family: 'Raleway', sans-serif;
    }


    header
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;  
        width: 100%;
    }

    header img 
    {
        width: 150px;       
    }

     header ul li
     {
         list-style-type: none;
         display: inline;
         margin: 25px;                 
     }

     li.btn_ancre 
     {
         color: black;              
     }

     a.top
     {
         text-decoration: none;        
         color: black;
     }

     li.btn_inscription a
     {
         color: #0065fc;
         font-weight: bold;
     }

     a.top:hover
     {
        transition:0.3s;
        border-top:2px solid #0065fc;       
        padding-top: 40px;  
        color: #0065fc;   
     }


     
     /*section*/

    i.blue
    {
        color: #0065fc;
    }

    i.light
    {
        color: #f2f2f2;
    }

     /*div.haut*/     

     div.top
     {
         padding-top: 35px;
     }

     div.top h1
     {
         font-size: 1.8em;
     }
 
     div.top h2
     {
        font-weight: normal;
     }

     
     form
     {
         display: flex;       
         width: 2em;
     }

     input
     {
        font-weight:bold;
        font-size: 1rem;
        border-left: none;
        border-right: none;
        border-color: #f2f2f2;
        border-top-style: solid;
     }
 
    button, input, select, textarea
      {
        font-family : inherit;
        font-size   : 100%;
      }

    
     div.top img
     {
         width: 1em;
         background-color: #f2f2f2;
     }

     i#map_marker
     {
         background-color: #dedede;
         width: 5rem;
         height: 1.6rem;
         display: flex;        
         border-top-left-radius: 1rem;
         border-bottom-left-radius: 1rem;
         padding-top: 1rem;
         padding-left: 1rem;
         padding-right: 0.8rem;          
     }


     input.send
     {
         background-color: #0065fc;
         color: white;
         border-radius: 0% 1rem 1rem 0%;
         width: 9rem;
         height: 2.8rem;
         border: none;
     }

    


/*div.filters*/

     div.filters
     {
         display: inline-flex;
         padding-top: 30px;
     }

     div.filters h2
     {
         padding-top: 10px;
         padding-right: 20px;     
     }

     div.item
     {       
         border-color: #f2f2f2;
         border-style: solid ;
         border-radius: 2rem;
         width: auto;
         display: flex;
         margin: 15px;
         padding-right:20px;
         justify-content: left;       
     }

     

     i.filters
     {
         color: #0065fc;
         background-color: #deebff;
         border-radius: 50%;
         text-align: center;     
     }

     i.fa-money-bill-wave
     {
        padding-top: 13px;
        padding-right: 12px;
        padding-left: 12px;
        font-size: 1.3rem;
     }

     i.fa-child
     {
        padding-top: 12px;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 1.6rem;
     }

     i.fa-heart
     {
        padding-top: 15px;
        padding-right: 13px;
        padding-left: 14px;
        font-size: 1.4rem;
     }

     i.fa-dog
     {
        padding-top: 12px;
        padding-right: 10px;
        padding-left: 12px;
        font-size: 1.5rem;
     }

     
   

     
     p.f
     {
         font-weight: bold;     
         padding-left: 15px;
         text-align: center;
     }

     div.item:hover
     {
         box-shadow:inset 50px 0 0 0 #0065fc;
         transition: 0.5s;    
         border-style: solid 8px;
         border-color: #deebff;
         background-color: #f2f2f2;
     }


     /*div.info*/

     div.info
     {
         display: flex;
         padding-top: 15px;
     }



     p.info
     {
         padding-left: 10px;
         padding-bottom: 20px;
     }
     
     
     i.info
     {
         color: #0065fc;
         border-radius:  50%;
         border: 3px solid #f2f2f2;
         width: 10px; 
         height: 10px;
         padding: 10px;
         padding-bottom: 15px;
         padding-left: 15px;       
     }

 /*div.acco_et_aside*/ 

     div.acco_et_aside
     {
         display: flex;
         justify-content: space-between;
     }

 /*div.accommodation*/

     div.accommodation
     {
         background-color: #f2f2f2;
         border-radius: 1.5rem;
         padding-left: 2rem;
         width: 1000px;
         height: 650px;
         margin:2px;
         display: inline-block;    
     }

     h2.acco, h3.acco
     {
         padding-left: 25px;
     }


     div.accommodation img
     {
         display:flex;
         flex-wrap: wrap;
         justify-content: space-around;
         margin: auto;
         width: 100%;
         height: 55%;
         border-top-right-radius: 1.5rem;
         border-top-left-radius: 1.5rem; 
         object-fit:cover;               
     }

     div.box1
     {
         border-radius: 1.5rem;
         background-color: #ffff;
         box-shadow: 0.4em 0.4em 0.4em #dedede;
         display: inline-block;
         margin: 1em;
         width: 250px;
         height: 215px; 
         padding-top: 0.2rem;
         padding-left: 0.2rem;
         padding-right: 0.2rem;
         padding-bottom: 0.1rem;         
     }

     p.acco
     {
         padding-left: 0.8rem;
         margin-bottom: 0.3rem;
         padding-top: 0.2rem;
         margin-top: 0.2rem;
     }

     span.acco
     {
         padding-left: 0.6rem;
         padding-bottom: 0.3rem;
         display: flex;
     }

     i
     {
         padding-left: 0.2rem;
         padding-bottom: 0.2rem;
         padding-top: 0.2rem;
     }

    

/*aside*/

     aside
     {
         background-color: #f2f2f2;
         border-radius: 1.5rem;
         padding: 0.5rem;
         width: 450px;      
         display: inline-block;       
         margin-left: 1em;
         margin-right: 0.5rem;
        
     }

     i.chart
     {          
        font-size: 1.7rem;
        padding-top: 2.2rem;
        padding-left: 8rem;           
     }

     h2.pop
     {
         padding-top: 1rem;
         padding-left: 1.6rem;
         margin-bottom:0;
     }

     div.aside
     {
         display: flex;
         
       
     }

     div.box2
     {
         display: flex;
         flex-direction: column;
         justify-content:flex-start;
         align-items:flex-start ;  
         background-color: #ffff;
         border-radius: 1.5rem;
         box-shadow: 0.4em 0.4em 0.4em #dedede;
         margin: 2em;
         padding-top: 0.2rem;
         padding-left: 0.2rem;
         padding-right: 2rem;
         padding-bottom: 0.2rem;
         position: relative;
     }   

     div.descriptif_1
     {
         position: absolute;
         right: 0;
         top: 0;
         padding-right:6rem;
     }

     div.descriptif_2, div.descriptif_3
     {
         position: absolute;
         right: 0;
         top: 0;
         padding-right: 5rem;
     }



     aside img
     {               
         display:flex;
         flex-wrap: wrap;
         border-radius: 1.5rem 0 0 1.5rem;
         width: 125px;
         height: 140px;   
         object-fit: cover;  
                          
     }



  span.aside
   {
     /* position: relative;
      bottom: 10;
      left: 4;
      bottom:2;*/
      display: flex;
      padding-left: 20px;
      margin-top: -10px;
   }

   p.popu_1
   {
       margin-top: 1rem;
       margin-bottom: 0rem;
       margin-left:1.5rem;
       font-size: 1.1rem;

   }

   p.popu_2
   {
       margin-top: 0.5rem;
       margin-bottom: 2.5rem;
       margin-left:1.5rem;
       font-size: 0.9rem;
   }
 


  


/*div.activités*/

     div.activities
     {
        padding: 2rem;
        width: 800px;
                 
     }

     div.box3
     {
        display: flex;  
        
     }

    div.pic_activities1
    {
        border-radius: 1.5rem;
        box-shadow: 0.4em 0.4em 0.4em #dedede; 
        width: 325px;
        margin: 1.5rem;
        margin-left:0;
        height: 425px;
    }

    div.activities img.pic_1
    {
       border-top-right-radius: 1.5rem;
       border-top-left-radius: 1.5rem;
       justify-content: space-around;
       width: 100%;
       height: 375px;    
       object-fit: cover;
    }

    div.pic_activities1 p
    {
        font-weight: bolder;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
    }

    div.pic_activities2
    {
        border-radius: 1.5rem;
        box-shadow: 0.4em 0.4em 0.4em #dedede; 
        width: 325px;
        margin: 1.5rem;
        height: 250px;
    }

    div.activities img.pic_2
    {
       border-top-right-radius: 1.5rem;
       border-top-left-radius: 1.5rem;
       justify-content: space-around;
       width: 100%;
       height: 200px;    
       object-fit: cover;
    }

    div.pic_activities2 p
    {
        font-weight: bolder;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
    }

    div.pic_activities3
    {
        border-radius: 1.5rem;
        box-shadow: 0.4em 0.4em 0.4em #dedede; 
        width: 325px;
        margin: 1.5rem;
        height: 150px;
    }
    div.activities img.pic_3
    {
       border-top-right-radius: 1.5rem;
       border-top-left-radius: 1.5rem;
       justify-content: space-around;
       width: 100%;
       height: 100px;    
       object-fit: cover;
    }

    div.pic_activities3 p
    {
        font-weight: bolder;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }

    div.pic_activities4
    {
        border-radius: 1.5rem;
        box-shadow: 0.4em 0.4em 0.4em #dedede; 
        width:325px;
        margin: 1.5rem;
        height: 425px;
    }

    div.activities img.pic_4
    {
       border-top-right-radius: 1.5rem;
       border-top-left-radius: 1.5rem;
       justify-content: space-around;
       width: 100%;
       height: 375px;    
       object-fit: cover;
    }

    div.pic_activities4 p
    {
        font-weight: bolder;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
    }

    div.pic_activities5
    {
        border-radius: 1.5rem;
        box-shadow: 0.4em 0.4em 0.4em #dedede; 
        width: 325px;
        margin: 1.5rem;
        height: 200px;
    }

    div.activities img.pic_5
    {
       border-top-right-radius: 1.5rem;
       border-top-left-radius: 1.5rem;
       justify-content: space-around;
       width: 100%;
       height: 150px;    
       object-fit: cover;
    }

    div.pic_activities5 p
    {
        font-weight: bolder;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
    }

    div.pic_activities6
    {
        border-radius: 1.5rem;
        box-shadow: 0.4em 0.4em 0.4em #dedede; 
        width: 325px;
        margin: 1.5rem;
        height: 200px;
    }

    div.activities img.pic_6
    {
       border-top-right-radius: 1.5rem;
       border-top-left-radius: 1.5rem;
       justify-content: space-around;
       width: 100%;
       height: 150px;    
       object-fit: cover;
    }

    div.pic_activities6 p
    {
        font-weight: bolder;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
    }

 
/*footer*/

    footer
    {
        background-color: #f2f2f2;
        display: flex;
        justify-content:space-between;
        padding-right: 400px;
        
        
    }

    li
    {
        list-style-type: none;
        padding: 10px;
        display: flex;
        
    }

    li.titre
    {
        font-weight: bold;
    }

    footer li.liste:hover
    {
        transition: 0.3s;
        color: #0065fc;
    }

 /*footer*/

/*Responsive tablette2*/

@media screen and (max-width:1024px)
{}

 /*Responsive tablette1*/

@media screen and (max-width:768px)
{}
/*Responsive Iphone8*/

@media screen and (max-width:480px)
{

    /*Hébergements480px*/

    div.acco
    {
        background-color: white;
    }
    /*Activité 480px*/

    div.activities
    {
        display: flex;
        flex-direction: column;
    }

    div.slice_1, div.slice_2, div.slice_3, div.slice_4
    {
        display:flex;
        flex-direction: column;
    }

   
    /*footer 480px*/
    footer 
    {
        width: 100%;
        flex-direction: column;
        display:flex;
    }
}