/*Général css*/

@font-face
{
    font-family: 'Raleway';
    src: local(images/police/Raleway-Italic-VariableFont_wght.ttf) format(.ttf) ,
    src: local(images/police/Raleway-VariableFont_wght.ttf) format(.ttf); }

    body
    {
        font-family: 'Raleway', sans-serif;
    }

    /*header*/

    header
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    header img 
    {
        width: 150px;
       
    }

     header li
     {
         list-style-type: none;
         display: inline;
         margin: 20px;   
     }

     header li:hover
     {
         transition: 0.3s;
         color: #0065fc;
     }


     /*div.haut*/

     div.haut h1
     {
         font-style: bold;
         font-size: 1.8em;

     }
 
     div.haut h2
     {
        font-weight: normal;
     }

     form
     {
         display: flex;
         justify-content: left;
         width: 2em;
        display: inline;


     }

     div.haut img
     {
         width: 1em;
         background-color: #f2f2f2;
     }

     input.envoyer
     {
         background-color: #0065fc;
         color: white;
         border-radius: 0% 20% 20% 0%;
     }


     /*div.filtres*/

     div.filtres img
     {
         border-radius: 100%;
         padding: 10px;
         width: 1em;
         background-color: #f2f2f2;
         
     }


    /*div.hébergements*/

     div.hébergements
     {
         background-color: #f2f2f2;
         
     }

     div.hébergements img
     {
         display:flex;
         flex-wrap: wrap;
         justify-content: space-around;
         width: 13em;
         border-radius: 20%;
         
     }

     /*aside*/

     aside
     {
         display: flex;
         justify-content: right;
     }

     /*aside*/

     /*div.activités*/
     /*div.activités*/

     /*footer*/

    footer
    {
        background-color: #f2f2f2;
        display: flex;
        justify-content:space-between;
        padding-right: 400px;
        
        
    }

    li
    {
        list-style-type: none;
        padding: 10px;
        display: flex;
        
    }

    li.titre
    {
        font-weight: bold;
    }

    footer li.liste:hover
    {
        transition: 0.3s;
        color: #0065fc;
    }

     /*footer*/

